/*Vinicius Forte*/

h1{
    line-height: 20px;
}

h2 {
    color: grey;
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-spacing: 0px;
}

tr td:first-child, tr th:first-child {/*Formatações p/ primeira coluna*/
    border-left: 0;
    text-align: left;
    padding: 5px;
    width: 200px;
  }

tr td:last-child{/*Para retirar borda da ultima coluna*/
    border-right:0;
    
}


tr:nth-child(even){/*Formatar tds*/
    background-color:rgba(211, 209, 209, 0.877);
}

tr:nth-child(odd){/*Formatar tds*/
    background-color: white;
}

th{
    border: none;
    padding: 8px;
}

td {
    border: 0.5px solid rgb(211,209,209);
    padding: 5px;
    color:grey;
    text-align: center;
}

#Total{
    color: rgb(211,209,209);
    background-color:rgb(200,20,20);;
}


